.container {
    position: absolute;
    background: #16213ea0;
    border: 2px solid #0f3460;
    border-radius: 8px;
    padding: 10px;
    cursor: move;
    user-select: none;
    overflow: clip;
}

.title {
    color: #e94560;
    font-weight: bold;
    margin-bottom: 8px;
}

.input_output_pair {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;    
}

.input {
    width: 16px;
    height: 16px;
    background: #ffff4aaa;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -16px;
    margin-top: 5px;
}

.output {
    width: 16px;
    height: 16px;
    background: #ffff4aaa;
    border-radius: 50%;
    cursor: pointer;
    margin-right: -16px;
    margin-top: 5px;
}
